'menu': [
  {
    'label': 'Haskell'
    'submenu': [
      {
        'label': 'Refactor'
        'submenu': [
          {
            'label': 'Rename Definition'
            'command': 'haskell-tools:refactor:rename-definition'
          }
          {
            'label': 'Extract Binding'
            'command': 'haskell-tools:refactor:extract-binding'
          }
        ]
      }
    ]
  }
],
'context-menu':
  '.tree-view .project-root-header': [
    {
      'label': 'Toggle Haskell-tools Refactoring'
      'command': 'enable-haskell-tools-for-project-folder:toggle'
    },
    {'type': 'separator'}
  ]
