'menu': [
  {
    'label': 'Haskell'
    'submenu': [
      {
        'label': 'Refactor'
        'submenu': [
          {
            'label': 'Rename Definition'
            'command': 'haskell-tools:refactor:rename-definition'
          }
          {
            'label': 'Extract Binding'
            'command': 'haskell-tools:refactor:extract-binding'
          }
          {
            'label': 'Inline Binding'
            'command': 'haskell-tools:refactor:inline-binding'
          }
          {
            'label': 'Generate Type Signature'
            'command': 'haskell-tools:refactor:generate-signature'
          }
          {
            'label': 'Float Out'
            'command': 'haskell-tools:refactor:float-out'
          }
          {
            'label': 'Organize Imports'
            'command': 'haskell-tools:refactor:organize-imports'
          }
          {
            'label': 'Generate Exports'
            'command': 'haskell-tools:refactor:generate-exports'
          }
        ]
      }
      {
        'label': 'Start Haskell Tools server'
        'command': 'haskell-tools:start-server'
      }
      {
        'label': 'Stop Haskell Tools server'
        'command': 'haskell-tools:stop-server'
      }
      {
        'label': 'Restart Haskell Tools server'
        'command': 'haskell-tools:restart-server'
      }
      {
        'label': 'Check Haskell Tools server'
        'command': 'haskell-tools:check-server'
      }
      {
        'label': 'Undo last refactoring'
        'command': 'haskell-tools:undo-refactoring'
      }
    ]
  }
],
'context-menu':
  '.tree-view .header': [
    {
      'label': 'Toggle Haskell-tools Refactoring'
      'command': 'haskell-tools:toggle-package'
    },
    {'type': 'separator'}
  ]
