@import 'ui-variables';
@import 'syntax-variables';
@import 'octicon-utf-codes';

.tree-view .ht-refactored.icon::before {
  color: green;
}

.editor .gutter[gutter-name='ht-problems'] {
  width: 20px;
}

.editor .gutter .decoration.ht-comp-problem:before {
  visibility: visible;
  font-family: "Octicons Regular";
  content: @alert;
  color: @text-color-error;
}

.editor .gutter[gutter-name='ht-problems'] {
  overflow: visible;
  z-index: 2;
}

.editor .highlights .highlight.ht-comp-problem .region {
  visibility: visible;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: @text-color-error;
}

.ht-comp-problem .ht-tooltip {
  position: absolute;
  text-align: left;
  left: 0px;
  background-color: @tree-view-background-color;
  border-color: @tree-view-border-color;
  border-width: thin;
  border-style: solid;
  padding: 5px;
  paddig-left: 10px;
  z-index: 3;
}
